@model ValidationAttributeAspDotCore.Models.Student;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container"  style="border-color:black">
    <div class="row">
        <div class="row-cols-sm-4">
            <div asp-validation-summary="All" style="color:red">

            </div>
            <form asp-action="Index" asp-controller="Home" method="post">
                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
               @* <span asp-validation-for="Name" style="color:red"></span>*@
                <br />
                <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                @*<span asp-validation-for="Email" style="color:red"></span>*@
                <br />
                 <input asp-for="Age" class="form-control" placeholder="Enter Age" />
               @* <span asp-validation-for="Age" style="color:red"></span>*@
                <br />
               @* <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Password" style="color:red"></span><br />
                <input asp-for="Confirmpassword" class="form-control" placeholder="Enter Confirm Password" />
                <span asp-validation-for="Confirmpassword" style="color:red"></span><br />
                <input asp-for="MobileNo" class="form-control" placeholder="Enter Mobile Number" />
                <span asp-validation-for="MobileNo" style="color:red"></span><br />*@

                <input  type="submit" value="Submit" class="btn btn-outline-primary"/>

            </form>

        </div>
    </div>

</div>
